assets/*
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
.svn
.tgz

themes/*/.sass-cache
themes/*/build/components
themes/*/build/lib
themes/*/build/views
themes/*/js/components

vendor
framework
cms


## Silverstripe Modules ##
googlesitemaps
html5
seo
taxonomy
gridfieldextensions
sortablegridfield
gridfield-addons
gridfield-gallery-theme
staticpublisher
silverstripe-dataobjectpreview
silverstripe-optimisedimage
silverstripegmapsobject
userforms
gridfieldpaginatorwithshowall
sortablegridfield
