/* ===========================
 * Typography
 * =========================== */
$font_size: 16;


/* ===========================
 * Grid
 * =========================== */
$total-columns: 6;
$column-width: 128px;
$gutter-width: 32px;
$grid-padding: 16px;